<div class="container">
	<div class="is-flex flex-grow-1 justify-content-center align-items-center">
	  <div class="brand-logo">
        <%= image_tag("logo.jpg", :class => "home_img") %>
      </div>
	</div>
	<div class="buttons">
		<%= link_to 'Log in', new_user_session_url, class: "btn btn-success btn1" %>
		<%= link_to 'Sign up', new_user_registration_url, class: "btn btn-primary btn2" %>
	</div>
</div>
