<div class="parent">
<div class="signin_nav">
<h1>New funding</h1>
</div>
<%= render "form", funding: @funding %>

<br>

<div>
  <%= link_to "Back to fundings", new_category_funding_path,class: "btn btn-warning btn_b" %>
</div>
</div>