<div id="<%= dom_id category %>" class="name_list">
  <p class="list">
    <%= category.name %>
  </p>

  <p class="list">
    <%= category.icon %>
  </p>
  <p class="list">
   <%= category.total_funds %> $
   </p>
</div>
