<div class="parent">
<div class="signin_nav">
<h1>New category</h1>
</div>

<%= render "form", category: @category %>

<br>

<div>
  <%= link_to "Back to categories", categories_path,  class: "btn btn-success btn_b" %>
</div>
</div>
